<div style="height: 50px">
  <img [offset]="100" lazyLoad="https://placehold.it/50x50">
</div>
<div style="height: 100px">
  <img [offset]="100" lazyLoad="https://placehold.it/100x100">
</div>
<div style="height: 150px">
  <img [offset]="100" lazyLoad="https://placehold.it/150x150">
</div>
<div style="height: 300px">
  <img [offset]="100" lazyLoad="https://placehold.it/300x300">
</div>
<div style="height: 600px">
  <img [offset]="100" lazyLoad="https://placehold.it/600x600">
</div>
<div style="height: 1200px">
  <img [offset]="100" lazyLoad="https://placehold.it/1200x1200">
</div>
